.form {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    gap: 15px;
}

.input{
    /* display: block; */
    
    width: 350px;
    /* height: 15px; */
    padding: 10px;
    font-size: 20px;
}

.btn {
    /* display: block; */
    
    /* width: 350px; */
    /* height: 15px; */
    padding: 10px;
    font-size: 20px;
}