.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 60px;
    list-style: none;
}

.portrets {
    width: 250px;
    height: 375px;
}
