.link {
    display: block;
    margin: 20px 60px;
    width: 75px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
}
.link:hover {
    color: red;
    border: solid 1px red;
}
.link:focus {
    color: red;
    border: solid 1px red;
}

.movie {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    gap: 30px;
}

.poster {
    display: block;
    width: 350px;
}

.movieInfo {
    display: block;
    width: 700px;
}

.mainInfo {
    display: block;
    margin-bottom: 80px;
}

.extraInfo {
    display: block;
}

.list {
    display: flex;
    gap: 30px;
    padding: 0;
    list-style: none;

}

.btn {
    display: block;
    /* margin: 20px 60px; */
    width: 75px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
}

.btn:hover {
    color: red;
    border: solid 1px red;
}

.btn:focus {
    color: red;
    border: solid 1px red;
}